:root {
  --main-font: 'Cera Pro Regular', sans-serif;
  --secondary-font: 'Cera Pro Medium                  ', sans-serif;
  --main-font-weight: 400;
  --main-color: #555555;
  --secondary-color: #ffffff;
  --accent-color: #f5ece3;
}
