.hero {
  max-width: 425px;
  // padding: 275px 42px 280px;
  padding-top: 275px;
  padding-bottom: 280px;
  background-position: center;
  background-color: #eee4da;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('../images/hero/hero.jpg');
  background-size: cover;
}

.hero-title {
  padding: 0 15px;
  text-align: center;
  font-family: var(--secondary-font);
  @include font-style(36px, 1.19, 0.04em);
  color: var(--secondary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
